$def with (code, data, debug)
<div class="container">
  <h2>Source Code</h2>
  <form action="" method="post">
      <div class="editor-container">
      <textarea id="editor" name="code">
$:code
</textarea>
  <button class="btn btn-primary btn-lg" type="submit" name="submit" style="margin-left:720px;margin-top:30px;">Analyze</button>
</div>
</form>
</div>

<div class="container">
  <h2>Call Graph</h2>
  <div class="container-canvas">
    <canvas id="springydemo" width="800" height="480"/>
  </div>
</div>

<script>
var graphJSON;
jQuery(function(){  
  graphJSON= jQuery("#awesome-json").attr("value");
  if(graphJSON != ""){
  var graph = new Springy.Graph();
  graph.loadJSON(graphJSON);
  var springy = jQuery('#springydemo').springy({
    graph: graph
  });
  }else{
    console.log("empty");
   }
});
</script>
<input type="hidden" id="awesome-json" value='$:data'/>
<div>
  <p style="display:none;">$debug</p>
</div>
