$def with (abc,jsonvalue)
<html lang="en-us">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/fullscreen.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/dialog.css"/>
    <link rel="stylesheet/less" type="text/css" href="static/less/web.less" />
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/less-1.4.1.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/holder.js"></script>
    <script src="static/js/codemirror.js"></script>
    <script src="static/js/clike.js"></script>
    <script src="static/js/fullscreen.js"></script>
    <script src="static/js/vim.js"></script>
    <script src="static/js/dialog.js"></script>
    <script src="static/js/searchcursor.js"></script>
    <script src="static/js/web.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="static/js/springy.js"></script>
    <script src="static/js/springyui.js"></script>
    <title>Program Analysis</title>
  </head>
  <body>
    <nav class="navbar" role="navigation">
    </nav>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Program Analysis</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li class="active"><a href="#">Try a Short Program</a></li>
	<li><a href="#">Here Another Link</a></li>
      </ul>
    </div>
    
    <div class="container">
      <form action="" method="post">
	<textarea id="editor" name="code">
int main() {
  return 0;
}</textarea>
      <button class="btn btn-primary" type="submit" name="submit" style="position:absolute;left:150px;bottom:0px;">Analyze</button>
      </form>
      <canvas id="springydemo" width="640" height="480" style="position:absolute;right:50px;"/>
    </div>
<script>
var graphJSON;
jQuery(function(){  
  graphJSON= jQuery("#awesome-json").attr("value");
  if(graphJSON != ""){
  var graph = new Springy.Graph();
  graph.loadJSON(graphJSON);
  var springy = jQuery('#springydemo').springy({
    graph: graph
  });
  }else{
    console.log("empty");
   }
});
</script>
<input type="hidden" id="awesome-json" value='$jsonvalue'/>
<br/><br/><br/>
<h1>$abc</h1>
  </body>
</html>
