 <html lang="en-us">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
    <link rel="stylesheet/less" type="text/css" href="static/less/web.less" />
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/less-1.4.1.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/holder.js"></script>
    <script src="static/js/angular.js"></script>
    <script src="static/js/springy.js"></script>
    <script src="static/js/springyui.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <title>Program Analysis from Sources</title>
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="sourceCtrl">
      <h1>Sources      <div class="btn btn-primary" ng-click="debug()">Debug</div>
</h1>
      <div class="row">
	   <div class="col-md-3 well">
	     <ul class="nav">
	       <li ng-show="!is_root_dir()">
		 <a href="#{{dir_info.parent}}/"><div class="glyphicon glyphicon-chevron-left"></div></a>
	       </li>
	       <li ng-repeat="d in dir_info.dirs">
		 <a class="sidebar-line" href="#{{dir_info.base}}{{d}}/">
		   <div class="glyphicon glyphicon-folder-close">
		   </div><span class="sidebar-text">{{d}}</span>
		 </a>
	       </li>
	       <li ng-repeat="f in dir_info.files">
		 <a class="sidebar-line" href="#{{dir_info.base}}{{f}}">
		   <div class="glyphicon glyphicon-file"></div>
		   <span class="sidebar-text">{{f}}</span>
		 </a>
	       </li>
	     </ul>
	   </div>
	   <div class="col-md-9">
	     <div class="working-panel well">
	       <div class="location-container">
		 <div class="label label-info path-label">{{currentPath}}</div>
	       </div>
	       <ul class="nav nav-tabs">
		 <li ng-class="{ active: isTabSelected('Source') }">
		   <a ng-click="onTabSelected('Source')" href="">Source</a>
		 </li>
		 <li ng-class="{ active: isTabSelected('Call Graph') }">
		   <a ng-click="onTabSelected('Call Graph')" href="">Call Graph</a>
		 </li>
		 <li ng-class="{ active: isTabSelected('CFG') }"> 
		   <a ng-click="onTabSelected('CFG')" href="">CFG</a>
		 </li>
	       </ul>
	       
	       <pre class="source-code" ng-show="isTabSelected('Source')">{{sourceCode}}</pre>
	       <div ng-show="isTabSelected('Call Graph')">
		 <div id="canvas-container" class="container-canvas">
		   <!--canvas id="springydemo" width="800" height="480"/-->
		 </div>
		 <pre class="source-code" ng-show="DEBUG">{{cgJSON}}</pre>
	       </div>
	       <div ng-show="isTabSelected('CFG')">
		 <pre class="source-code" ng-show="DEBUG">
		   <div ng-repeat="cfg in cfgList">
		     <h4>{{cfg.id}}</h4>
		     <table class="table table-bordered">
		       <tr>
		         <th>#</th>
		         <th>Pred_id_list</th>
		         <th>Succ_id_list</th>
		       </tr>
		       <tr ng-repeat="block in cfg.blocks">
		         <td><a href="#" title={{block.elements}}>{{block.block_id}}</a></td>
		         <td>{{block.pred_id_list}}</td>
		         <td>{{block.succ_id_list}}</td>
		       </tr>
		     </table>
		   </div>
                 </pre>
	       </div>
	     </div>
	   </div>
      </div>
    </div>
  </body>
</html>
